<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <!-- Card wrapper -->
      <div class="col-md-12">
        <div class="card">
          <!-- Card header -->
          <div class="card-header card-header-rose card-header-text">
            <div class="card-text">
              <h4 class="card-title">Yangi foydalanuvchi qo'shish</h4>
            </div>
          </div>

          <!-- Card body with your reactive registerForm -->
          <div class="card-body">
            <form
              [formGroup]="registerForm"
              (ngSubmit)="onSubmit()"
              class="form-horizontal"
            >
              <!-- Full Name -->
              <div class="row mb-3">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Full Name</mat-label>
                    <input
                      matInput
                      formControlName="fullname"
                      required
                      minlength="4"
                    />
                    <mat-error
                      *ngIf="registerForm.get('fullname')?.hasError('required')"
                    >
                      Ism Familiya bo'sh bo'lmasligi kerak.
                    </mat-error>
                    <mat-error
                      *ngIf="
                        registerForm.get('fullname')?.hasError('minlength') &&
                        !registerForm.get('fullname')?.hasError('required')
                      "
                    >
                      Kamida 4 harfdan iborat bo'lishi kerak.
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <!-- Username -->
              <div class="row mb-3">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Username</mat-label>
                    <input
                      matInput
                      formControlName="username"
                      required
                      minlength="3"
                    />
                    <mat-error
                      *ngIf="registerForm.get('username')?.hasError('required')"
                    >
                      Foydalanuvchi nomi talab qilinadi.
                    </mat-error>
                    <mat-error
                      *ngIf="
                        registerForm.get('username')?.hasError('minlength') &&
                        !registerForm.get('username')?.hasError('required')
                      "
                    >
                      Kamida 3 harfdan iborat bo'lishi kerak.
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <!-- Email -->
              <div class="row mb-3">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" required email />
                    <mat-error
                      *ngIf="registerForm.get('email')?.hasError('required')"
                    >
                      Email talab qilinadi.
                    </mat-error>
                    <mat-error
                      *ngIf="
                        registerForm.get('email')?.hasError('email') &&
                        !registerForm.get('email')?.hasError('required')
                      "
                    >
                      Iltimos yaroqli email kiriting.
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <!-- Password -->
              <div class="row mb-3">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Parol</mat-label>
                    <input
                      matInput
                      [type]="showPassword ? 'text' : 'password'"
                      formControlName="password"
                      required
                      minlength="6"
                    />
                    <!-- clickable eye icon as suffix -->
                    <mat-icon
                      matSuffix
                      class="toggle-password-icon"
                      (click)="togglePasswordVisibility()"
                      >{{
                        showPassword ? "visibility_off" : "visibility"
                      }}</mat-icon
                    >
                    <mat-error
                      *ngIf="registerForm.get('password')?.hasError('required')"
                    >
                      Parol talab qilinadi.
                    </mat-error>
                    <mat-error
                      *ngIf="
                        registerForm.get('password')?.hasError('minlength') &&
                        !registerForm.get('password')?.hasError('required')
                      "
                    >
                      Kamida 6 belgidan, bitta katta harf va raqam bo'lishi
                      kerak.
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <!-- Address -->
              <div class="row mb-3">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Manzil</mat-label>
                    <input matInput formControlName="address" required />
                    <mat-error
                      *ngIf="registerForm.get('address')?.hasError('required')"
                    >
                      Manzil talab qilinadi.
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <!-- Phone Number -->
              <div class="row mb-3">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Tel Raqam</mat-label>
                    <input
                      matInput
                      type="tel"
                      formControlName="phone_number"
                      required
                    />
                    <mat-hint>Format: +998955555555</mat-hint>
                    <mat-error
                      *ngIf="
                        registerForm.get('phone_number')?.hasError('required')
                      "
                    >
                      Telefon raqam talab qilinadi.
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <!-- Role Selection -->
              <div class="row mb-3">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Role</mat-label>
                    <mat-select formControlName="role" required>
                      <mat-option *ngFor="let r of roles" [value]="r">
                        {{ r }}
                      </mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="registerForm.get('role')?.hasError('required')"
                    >
                      Role kiritilishi shart.
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <!-- Buttons -->
              <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                  <button
                    mat-raised-button
                    color="rose"
                    type="submit"
                    [disabled]="registerForm.invalid"
                  >
                    Ro'yxatdan o'tkazish
                  </button>
                  <button mat-button type="button" (click)="close()">
                    Bekor qilish
                  </button>
                </div>
              </div>

              <!-- Global error -->
              <p class="backend-error" *ngIf="errorMessage">
                {{ errorMessage }}
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
